/* >>>>>>>>>>>>section-what-we-do<<<<<<<<<<<< */
.we-do {
   @media screen and (max-width: 1199px) {
    display: none;
  }
}
  
.what-we-do {
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.img{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.img__item{
  position: relative;
  &:not(:last-child){
  margin-right: 30px;
  }
}

.img__text{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  bottom: 0px;
  color: var(--fourth-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}