/* ..........clients Logo.......... */

.clients-title {
  margin-bottom: 15px;
  // margin-bottom: 50px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.7;
  // font-size: 36px;
  // line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: unset;
  }
}

.client-list__logo {
  height: 92px;
  @media screen and(max-width:767px) {
  // width: 210px;
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin: 15px;
  }  

  @media screen and (min-width: 768px) {
    @media screen and (max-width: 1199px) {
      // width: 266px;
      flex-basis: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    &:not(:last-child) {
    margin-right: 30px;
    }
  }
}

.client-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--third-text-color);
  }
}

.client-list__icon {
  fill: var(--icons-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .client-list__link:hover &,
  .client-list__link:focus & {
    fill: var(--third-text-color);
  }
}
