/* section-two-we-offer */

.offer {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: unset;
    margin-bottom: 0px;
  }
}

.offer__list {
  width: 100%;
  margin-bottom: 30px;
  @media screen and(min-width) {
    width: 450px;
  }
  @media screen and (max-width: 1199px) {
      // width: 354px;
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  

  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.offer__bg {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color-two);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
}

.offer__description {
  padding-top: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
