.mob-open{
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus{
    fill:var(--third-text-color);
  }
  @media screen and(min-width:768px) {
    display: none;
  }
}

.mob-menu{
  width: 100vw;
  height: 100vw;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0; 
  padding-left: 40px;
  
}

.mob-close{
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  padding-top: 5px;
  padding-right: 60px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus{
    fill:var(--third-text-color);}
}

.mob-menu.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu__list-link{
  margin-bottom: 302px;
}
.mob-menu__item{
  &:not(:last-child){
    margin-bottom: 32px;
  }
}

.mob-menu__studio,
.mob-menu__portfolio,
.mob-menu__contact{
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color:#212121; 
}
.mob-menu__contacts{
  margin-bottom: 64px;
}
.mob-menu-contacts__item{
  &:not(:last-child){
    margin-bottom: 32px;
  }
}
.mob-menu-contacts__tel{
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
.mob-menu-contacts__mail{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.mob-menu__social{
  display: flex;
  margin-bottom: 48px;
}
.mob-menu__social-item{
  &:not(:last-child){
    margin-right: 20px;
    .mob-menu__social-link{
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
    
  }
}
.mob-menu__social-link{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1,22;
  letter-spacing: 0.02em;
  color:var(--third-text-color);
  
}