:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #2196f3;
  --fourth-text-color: #ffffff;
  --special-hide-color: rgba(255, 255, 255, 0.6);
  --special-color: #000000;
  --bg-color-one: #2f303a;
  --bg-color-two: #f5f4fa;
  --bg-color-third: #188CE8; 
  --projects-gap: 30px;
  --icons-color: #AFB1B8;

}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}